@import './base.css';

#app {
  font-weight: normal;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sticky-header-table {
  border-collapse: separate;
}

.sticky-header-table th {
  background-color: white;
}
