@import './base.css';

#app {
  font-weight: normal;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
